.confirm {
  display: grid;
  height: 34%;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;

  &__list {
    list-style-image: url("../images/icon-check.svg");
    align-self: center;
    justify-self: center;

    &--item {
      margin: 0.5rem;
      padding-left: 0.5rem;
    }
  }

  &__button {
    width: 66%;
    border-radius: 25px;
    align-self: center;
    padding: 0.75rem;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: $text-and-cta-background;
    color: $cta-text;
    font-family: inherit;
    font-weight: 800;
    cursor: grab;

    &:hover {
      color: $pricing-component-background;
    }
  }
}

@media screen and (max-width: 600px) {
  .confirm {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: 2rem;

    &__list {
      text-align: center;
    }
  }
}
